<div style='text-align:center'>
    <div style="align-items: center;justify-content: center;display: flex;flex-direction: row;width: 100%">
        <img width="50" height="50" src="{logo}" style="left: 2%; position: absolute;"></img>
    </div>
    <h1 style="margin-bottom: 0;">{projectName}</h1>
    <h3 style="margin-top: 0;">{osName}</h3>

    <p>Your device <b>{deviceName} {deviceVersion}</b> has been updated to version <b>{osVersion}</b>!</p>
    <img style='display:block;max-width: 100%; height:auto;' src='{deviceImage}' /></div>